

<div class="product">
  <p class="Name">
   {{product?.idProduct}}  - {{product?.name}}
  </p>
  <p>
    In inventory: {{product?.inInventory}}
  </p>
  <p >
    Min to buy: {{product?.min}}
  </p>
  <p>
    Max to buy: {{product?.max}}
  </p>

  <button class="deltebutton" (click)="deleteproduct(product!.idProduct) "> Delete </button>
  <button class="sendofferbutton" (click)="editproduct(product!.idProduct) "> Edit </button>

  <form name="offerform" id="editproductform{{ product!.idProduct }}" class="hiddenform">
 <p>Name: </p>
    <input required name = "name" type="text" [(ngModel)]="name" placeholder ="name">
    <p>InInventory: </p>
    <input required name = "inInventory" type="text" [(ngModel)]="inInventory" placeholder ="inInventory">
    <p>Min: </p>
    <input required name = "min" type="text" [(ngModel)]="mintobuy" placeholder ="min">
    <p>Max: </p>
    <input required name = "max" type="text" [(ngModel)]="maxtoBuy" placeholder ="max">
    <p>Enabled: </p>
    <input required name = "enabled" type="text" [(ngModel)]="enabled" placeholder ="enabled">
     <div>

    </div>
    <button class="sendofferbutton" (click)="SaveProduct()">
      Save Edit
    </button>
  </form>
</div>

