
<input required name = "newAuthor" type="text" [(ngModel)]="quantity" placeholder ="Author">

<div class="commentscontainer" *ngIf="currentpage?.products">


  <button class="button" (click)="previowspage() ">previouspage</button>

    <button class="button" (click)="nextpage() ">nextpage</button>
    </div>
<div class="commentscontainer" *ngIf="currentpage?.products">
  <div class="subcommentscontainer"  *ngFor="let product of currentpage?.products">
<app-singleproducttoedit [product] = "product"></app-singleproducttoedit>

  </div>
</div>
