
<input required name = "name" type="text" [(ngModel)]="name" placeholder ="name">

<input required name = "inInventory" type="text" [(ngModel)]="inInventory" placeholder ="inInventory">

<input required name = "min" type="text" [(ngModel)]="mintobuy" placeholder ="min">

<input required name = "max" type="text" [(ngModel)]="maxtoBuy" placeholder ="max">



<button class="button" (click)="Addproduct() ">Add Product</button>

<div class="commentscontainer" *ngIf="currentpage?.products">


  <button class="navegate" (click)="previowspage() ">&#60;</button>

    <button class="navegate" (click)="nextpage() ">	&#62;</button>
    </div>
<div class="commentscontainer" *ngIf="currentpage?.products">
  <div class="subcommentscontainer"  *ngFor="let product of currentpage?.products">
<app-singleproducttoedit [product] = "product"></app-singleproducttoedit>

  </div>
</div>
