.product{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  min-height: 1rem;
  border-radius: 1rem;
  background-color: #c0d4cb;
  padding-left: 15px;
  margin: 7px;
  border-style: solid;
  border-color: #c0d4cb;
  max-width: 1000px;
  animation: slidein;
  animation-duration: 1s;
}
@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}
.Name{
  color: #c0d4cb;
  color: #00584b;
  color: #f3a628;
  color: #6e1d0a;
  color: #009102;
  color: #142721;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #00584b;

}
