.product{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  min-height: 1rem;
  border-radius: 1rem;
  background-color: #c0d4cb;
  padding-left: 15px;
  margin: 7px;
  border-style: solid;
  border-color: #c0d4cb;
  max-width: 1000px;
  animation: slidein;
  animation-duration: 1s;
}
@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}
.Name{
  color: #c0d4cb;
  color: #00584b;
  color: #f3a628;
  color: #6e1d0a;
  color: #009102;
  color: #142721;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #00584b;

}



input {
  margin: 8px;
  padding: 10px;
  padding-left: 16px;
  padding-top: 8px;
  width: 200px;
  border-radius: 5px;
  border-color: #c0d4cb;
  border-style: solid;
  border-width: 2px;
  background-color: rgb(225, 255, 227);
}


button:hover {
  opacity: 75%;
}
.offerbutton {
  width: 200px;
  margin: 5px;
  color: aliceblue;
  border-style: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 600;
  background-color: #009102;
  cursor: pointer;
}
.button {
  width: 200px;
  margin: 5px;
  color: aliceblue;
  border-style: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 600;
  background-color: #009102;
  cursor: pointer;
}
.hiddenform {
  display: none;
}
.offerform {
  display: block;
}

.deltebutton{
  width: 200px;
  margin: 5px;
  color: aliceblue;
  border-style: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 600;
  background-color: #6e1d0a;
  cursor: pointer;
}

form {
  margin-left: 20px;
}
form p {
  font-weight: 600;
}
